
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image: url("festas02.jpg");
    width: 100%;
    height:400px;


}

/* #bt-mobile-menu{
    display: none;
} */
nav {
    /*background-color:#E1C142 ... #808080; */  /*muda a cor de fundo*/
    
}

nav ul{
    display: flex;                  /* arruma o menu na horizontal*/
    list-style-type: none;          /* tira as bolinhas da lista*/
    font-size: 1.3em;               /* muda o tamanho da fonte - "em" considera o tamanho padrão do "celular" - 1 "em" equivale ao tamanho padrão*/
    height: 2.3em;                  /* espaçamento, altura*/
    align-items: center;            /* centraliza o texto no centro vertical*/ 
    
    justify-content: space-between; /*divide os ítens com espaços iguais deixando uma margem no início e no fim*/

    }

nav ul li:last-child{               /*vai pegar o último filho da lista - todos li que sejam últimos filhos - para mudar o estilo*/
    font-family: 'Fredoka One', cursive;
    }                

nav a {                             /* "a" = link*/
    text-decoration: none;          /*tira o risco de baixo do link*/
    color: oldlace;             /*muda a cor do texto*/    
    padding: .65em 3em;             /*quanto que será selecionado quando se passar o mouse por cima - vermelho - acaba dando um maior espaçamento no texto*/ 
    font-weight: bold;              /*negrito*/
    }

nav a:hover {                       /* muda o formato quando o mouse é passado por cima*/
    background-color: red;
    box-shadow: 0 2px;    /* difusão, tamanho e cor */
  
  }

/****************************************FIM DO NAV************************************************/

  .Solicite {
    text-align: center;
    justify-content: space-around;
    background-color: black;
    color:white;
    padding: 0;
    margin: 0;
    border: 0;

}
.cadastro {
    font-size: 150%;
    background-position: center;
    text-align: center;
    color: white;
    background-image: url("festas05.jpg");
    width: 100%;
    height:800px;
   
  
}
section {
        text-align: center;
        background-color: coral;
        color:black;
        justify-content:space-between;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 100%;
        margin-bottom: 0;
 }

 /************************** Parte de baixo do site***********************/
 h4 {
        font-size: 300%;
}
 br {
            line-height: 200%;
            
 }
 div {
     justify-content: space-between;
    
            
}
fieldset {
padding: 0%;
margin: 0;
border: 0;

}

h3 {
    padding: 0%;
    margin: 0;
    border: 0;    
}

/***************************Área do cliente*****************************/
.áreadocliente {
text-align: center;
background-color: black;
height:65%;
color:white;
font-size: 200%;
font-style: oblique;

}
.imagens{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: chocolate;
    
}
.imagens img{
    margin: 10px;
   
   
}

/*************************Contratar evento****************************/
.contratar {
    background-color: black;
    height: 150%;
    color:white;
    font-style: oblique;
    font-size: 200%;
    display: flex;
    flex-direction:row;
}
h5 {
font-size: 200%;
text-align: center;
}
#tabela1 {
flex-direction:column;
justify-content: space-between;
align-content: center;
text-align: center;
}

/***********************Usuário no contratar ******************************/
.contrato {
    font-size: 150%;
    background-position: center;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    height:400px;
}
.Texto {
text-align: center;
font-size: 150%;

}
Input {
    width: 15%;
    height:40px;
    border-radius: 45px;
    margin-bottom: -1em;
}
.inputcontratar{
    width: 50%;
    height:40px;
    border-radius: 45px;
    margin-bottom: -1em;
}

tr,th {
    font-size: 30px;
    background-color: black;
    color: white;
}
@media screen and (max-width: 1073px){



    .áreadocliente {
        text-align: center;
        background-color: black;
        height:35%;
        color:white;
        font-size: 200%;
        font-style: oblique;
        
        }
.contratar {
    background-color: black;
    height: 80%;
    color:white;
    font-style: oblique;
    font-size: 200%;
    display: flex;
    flex-direction:row;
}

.cadastro {

    font-size: 150%;
    background-position: center;
    text-align: center;
    color: white;
    background-image: url("festas05.jpg");
    width: 100%;
    height:1200px;
    
}

nav #bt-mobile-menu {
display:block;

}
nav .bt-common-menu {
display: none;
}
nav .bt-common-menu.active {
    display:block;
}

nav ul.mobile-mode {
display:flex;
flex-direction:column;
}