
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav #bt-mobile-menu {
    display: none;
}

header{
    background-image: url("festas02.jpg");
    width: 100%;
    height:400px;
}

/* nav ul{
    display: flex;                  /* arruma o menu na horizontal/
    flex-direction: row;
    list-style-type: none;          / tira as bolinhas da lista/
    font-size: 1.3em;               / muda o tamanho da fonte - "em" considera o tamanho padrão do "celular" - 1 "em" equivale ao tamanho padrão/
    height: 2.3em;                  / espaçamento, altura/
    align-items: center;            / centraliza o texto no centro vertical/ 
    
    justify-content: space-between; /divide os ítens com espaços iguais deixando uma margem no início e no fim*
    
} */

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    list-style-type: none;
}



nav a {                             /* "a" = link*/
    text-decoration: none;          /*tira o risco de baixo do link*/
    color: oldlace;             /*muda a cor do texto*/    
    padding: .65em 3em;             /*quanto que será selecionado quando se passar o mouse por cima - vermelho - acaba dando um maior espaçamento no texto*/ 
    font-weight: bold;              /*negrito*/
}

nav a:hover {                       /* muda o formato quando o mouse é passado por cima*/
    background-color: #a70000;
    box-shadow: 0 2px #800000;    /* difusão, tamanho e cor */
    
}
div {
    justify-content: space-between;
    
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Geneva, Verdana, sans-serif;
    background-color:#f0300f;
    
    
}

.section-container {
    margin: 0 auto;
    max-width: 1360px;
}

.section-container > a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    font-weight: bold;
}

section {
    text-align: center;
    background-color:coral;
    justify-content:space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    font-size: 100%;
    
}
.imagens{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background-color: black;
    
}
.imagens img{
    margin: 10px;
    background-color: black;
}
.QuebraTexto {
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}
.flex{
    display:flex;
}
.flexdireita{
    display:flex;
    justify-content: flex-end;
    
}
.flexesquerda{
    display:flex;
    justify-content: flex-start;
    font-size: 480%;
    align-items: center; 
    justify-content: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.festa03 {
    width: 200%;
    align-self: flex-end;
    height:600px;
}
.Solicite {
    text-align: center;
    color:white;
    justify-content: space-around;
    background-color: black;
    height:45%;
    
}
br {
    line-height: 200%;
    
}
h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    text-align: center;
    
    
}
h4 {
    font-size: 300%;
}
.cadastro {
    font-size: 150%;
    background-position: center;
    text-align: center;
    background-image: url("festas05.jpg");
    width: 100%;
    height:400px;
    color:white;
    margin-bottom: 0;
}
h2{
    border: 0px;
    margin: 0;
}
Input {
    width: 15%;
    height:40px;
    border-radius: 45px;
    
}
.menu{
    display:none;
}
@media(max-width: 1200px){
    nav{
        font-size: 90%;
    }
}

@media screen and (max-width: 1073px){
    .Solicite {
        text-align: center;
        color:white;
        justify-content: space-around;
        background-color: black;
        height:25%;
        
    }
    .menu{
        display:block;
    }
    /*****************************************************************************
                                    NAV -MOBILE 
    *****************************************************************************/
    
    nav #bt-mobile-menu {
        display:block;   
    }
    nav .bt-common-menu {
        display: none;
    }
    nav .bt-common-menu.active {
        display:block;
    }
    
    nav ul.mobile-mode {
        display:flex;
        flex-direction:column;
    }
    nav ul > li > a {
        display: block;
        padding: 0.4em;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        background-color: coral;
    }
}