nav #bt-mobile-menu {
    display: none;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    list-style-type: none;
}
.section-container {
    margin: 0 auto;
    max-width: 1360px;
}

.section-container > a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    font-weight: bold;
}
@media screen and (max-width: 1073px){
    /*****************************************************************************
                                    NAV -MOBILE 
    *****************************************************************************/
    
    nav #bt-mobile-menu {
        display:block;   
    }
    nav .bt-common-menu {
        display: none;
    }
    nav .bt-common-menu.active {
        display:block;
    }
    
    nav ul.mobile-mode {
        display:flex;
        flex-direction:column;
    }
    nav ul > li > a {
        display: block;
        padding: 0.4em;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        background-color: coral;
    }
}